model:
  name: random_forest
  library: sklearn
  params:
    n_estimators: 100
    criterion: squared_error
    max_depth: null
    min_samples_split: 2
    min_samples_leaf: 1
    max_features: 1.0
    random_state: 42
    n_jobs: -1

split:
  test_size: 0.2
  random_state: 42

hpo:
  enabled: false
  search: random
  cv: 5
  scoring: neg_root_mean_squared_error
  n_jobs: -1
  n_iter: 30
  param_grid:
    n_estimators: [100, 200, 400, 800]
    max_depth: [null, 5, 10, 20]
    min_samples_split: [2, 4, 8]
    min_samples_leaf: [1, 2, 4]
    max_features: [1.0, "sqrt", "log2"]
